[Desktop Entry]
Type=Application
Name=Cim
GenericName=Tiborcim Editor
Comment=Editor for Tiborcim, BASIC for Micro:Bit
Icon=cim
TryExec=cim
Exec=cim
Terminal=false
Categories=Application;Development;
Keywords=Python;Editor;microbit;micro:bit;Tiborcim;BASIC;

